@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;500&display=swap');
$fonte: 'Hind Vadodara', sans-serif;

/* Color Theme Swatches in Hex */
$rosa: #F241A3;
$rosa-claro: #EF27F2;
$azul1: #020659;
$azul-escuro: #010440;
$amarelo: #F2D544;
