@font-face {
    font-family: 'Sansation-bold-italic';
    font-style: italic;
    font-weight: bold;
    src: url(/fonts/sansation/Sansation_Bold_Italic.ttf);
}
@font-face {
    font-family: 'Sansation-light-italic';
    font-style: italic;
    font-weight: lighter;
    src: url(/fonts/sansation/Sansation_Light_Italic.ttf);
}
@font-face {
    font-family: 'Sansation-regular';
    src: url(/fonts/sansation/Sansation_Regular.ttf);
}
$font-bold-italic:'Sansation-bold-italic';
$font-light-italic: 'Sansation-light-italic';
$font-regular: 'Sansation-regular';

/* Color Theme Swatches in Hex */
$rosa: #F241A3;
$rosa-claro: #EF27F2;
$azul1: #020659;
$azul-escuro: #010440;
$amarelo: #F2D544;
